* {
    transition: 0.3s;
}

:root {
    --base: #080717;
    --text: #50b848;
    --white: #fff;
    --white-btn: #fff;
}

body {
    margin: 0;
    background: var(--base);
    font-family: YS Text, Helvetica, Arial, sans-serif;;
}

a, u {
    text-decoration: none;
}

p {
    margin: 0;
}

a {
    color: var(--text);
}

p {
    color: var(--text);
}

.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    margin: 40px auto;
    justify-content: center;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    box-shadow: inset 0 -1px 0 rgb(228 228 227 / 10%);
    background-color: rgba(07, 07, 23, 0.9);
}

.catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalog nav {
    font-size: 16px;
    font-weight: 700;
    color: var(--text);
    margin: 0 10px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.statement button {
    padding: 10px 22px;
    font-weight: bold;
    border-width: 2px;
    text-transform: uppercase;
    color: var(--white-btn);
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-color: var(--white-btn);
    border-radius: 5px;
}

.info {
    height: 600px;
}

.header-promo img {
    position: absolute;
    top: -130px;
    left: -60px;
    z-index: -1;
}

.info-statement {
    position: absolute;
    font-size: 105px;
    color: var(--white);
    max-width: 1000px;
    right: 0;
    margin: 100px;
    font-weight: bold;
}

.username {
    color: var(--white);
    font-size: 20px;
}

.fl_name {
    color: var(--white);
    font-size: 14px;
}

.statement {
    display: flex;
}

.user_info {
    margin-right: 20px;
    text-align: right;
}

.button_article {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--text);
    color: var(--white);
    font-weight: 600;
    text-align: center;
    margin: 5px 0;
}

.list_articles {
    display: flex;
    flex-direction: column;
}



@media (max-width: 1000px) {
    .info-statement {
        font-size: 60px;
        margin: 60px;
    }

    .form_container {
        width: 400px;
    }
}

@media (max-width: 1300px) {
    .main_prom img {
        display: none;
    }

    .modal_container {
        width: 400px;
    }

    .modal_after {
        bottom: 1647px;
    }

    .modal_container h1 {
        font-size: 24px;
    }

    .cat-modal .text {
        font-size: 24px;
    }

    .modal_back {
        bottom: 140px;
        left: 100px;
    }
}

@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .header-promo img {
        display: none;
    }

    .info {
        height: 400px;
    }

    header div {
        margin: 10px 0;
    }

    .info-statement {
        font-size: 48px;
        margin: 30px;
    }

}

@media (max-width: 600px) {
    .info-statement {
        font-size: 48px;
        margin: 30px;
    }

    .form_container {
        width: 250px;
    }

    .form_container .text_form {
        font-size: 18px;
    }

    .lc-form__close {
        height: 43px;
    }

    .cat-modal .text {
        font-size: 16px;
    }

    .modal_after {
        display: none;
    }

    .modal_back {
        display: none;
    }

    .modal_container h1 {
        font-size: 18px;
    }

    .lc-modal__close {
        height: 36px;
    }

    .modal_container {
        width: 300px;
        padding: 20px;
        height: 450px;
    }

    .applic a {
        font-size: 18px;
        margin: auto 30px;
    }

    .applic a:before {
        content: "+";
        position: absolute;
        top: -11px;
        font-size: 40px;
        left: -32px;
    }

    .info-category nav {
        font-size: 18px;
    }

    .info-category-detailed {
        font-size: 20px;
    }

    .info-skill h1 {
        font-size: 32px;
    }

    .info-skill div {
        font-size: 18px;
    }

    .btn {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .form_container {
        width: 290px;
        padding: 30px;
    }

    .input input {
        width: 200px;
    }

    .input textarea {
        max-width: 200px;
        max-height: 200px;
        min-width: 200px;
        min-height: 100px;
    }

    .list_articles {
        padding: 0 10px;
    }


}

@media (max-width: 400px) {
    .modal_container {
        width: 260px;
        padding: 20px;
        height: 450px;
    }
}