<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
<div class="fixed-overlay fixed-overlay__modal">
    <div class="modal">
        <div class="modal_container">
            <div class="lc-modal__close" aria-label="Закрыть"></div>
            <h1>Выберите направление</h1>
            <div class="cat-modal">
                <div class="modal-f">
                    <span>1.</span>
                    <div class="text">iOS разработчик ></div>
                </div>
            </div>
            <div class="cat-modal">
                <div class="modal-f">
                    <span>2.</span>
                    <div class="text">Системный аналитик ></div>
                </div>
            </div>
            <div class="cat-modal">
                <div class="modal-f">
                    <span>3.</span>
                    <div class="text">Администратор баз данных ></div>
                </div>
            </div>
            <div class="cat-modal">
                <div class="modal-f">
                    <span>4.</span>
                    <div class="text">Разработчик баз данных ></div>
                </div>
            </div>
            <div class="modal_back"><img src="src/img/modal.webp" alt=""></div>
            <div class="modal_after"><img src="src/img/modal_after.webp" alt=""></div>
        </div>
    </div>
</div>
</body>
</html>