{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель Модератора</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</head>
<body>
    <div class="section-admin">
        <div class="block-left-admin">
            <div class="p-2 menu-left-admin">
                <div class="menu-left-2">
                    <div class="menu-left-3">
                        <a href="{% url 'all_users' %}" class="text-decoration-none text-admin-menu">Пользователи</a>
                    </div>
                </div>
            </div>
            <div class="p-2 menu-left-admin-active">
                <div class="menu-left-2">
                    <div class="menu-left-3">
                        <a href="{% url 'all_applications' %}" class="text-decoration-none text-admin-menu-active">Заявки</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-right-admin">
            <div class="container admin-users-block">
                    <div class="d-flex p-2 flex-fill block-filter-2">
                        <div class="input-group mb-3 filter-text-admin-block">
                            <h1 class="filter-text-admin">Пользователь</h1>
                        </div>
                        <div class="input-group mb-3 filter-text-admin-block-2">
                            <h1 class="filter-text-admin">Mail</h1>
                        </div>
                        <div class="input-group mb-3 filter-text-admin-block-3">
                            <h1 class="filter-text-admin">Телефон</h1>
                        </div>
                    </div>
                    <hr class="hr-uder-2">
                    {% for i in users %}
                        {% if i.Activity == False %}
                        <div id="user-{{ i.pk }}">
                        <div class="d-flex admin-users-block-2">
                        <div class="d-flex p-2 flex-fill align-items-start user-admin-block">
                            <div class="d-flex p-2 user-admin-col">
                                <p class="user-text">{{ i.last_name }} {{ i.first_name }}</p>
                            </div>
                            <div class="d-flex p-2 user-admin-col-2">
                                <p class="user-text-mail">{{ i.mail }}</p>
                            </div>
                            <div class="d-flex p-2 user-admin-col-3">
                                <p class="user-text-tel">{{ i.number_phone }}</p>
                            </div>
                        </div>
                        <div class="d-flex p-2 user-admin-col-4">
                            <div class="status" id="status{{ i.pk }}">
                                {% if i.Activity == True %}
                                    <button type="button" class="btn btn-dark button-admin-1" id="user_status{{ i.pk }}" onclick="status_user({{ i.pk }});"  data-userid="{{ i.pk }}" data-status="0">Заблокировать</button>
                                {% else %}
                                    <button type="button" class="btn btn-dark button-admin-4" id="user_status{{ i.pk }}" onclick="status_user({{ i.pk }});"  data-userid="{{ i.pk }}" data-status="1">Активировать</button>
                                {% endif %}
                            </div>
                            <button type="button" class="btn btn-dark button-admin-2" onclick="window.location.href='{% url 'user_detail' i.pk %}';">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.7904 6.21638L3.37521 15.6356C3.1019 15.9089 3.1019 16.3536 3.37521 16.6269C3.50983 16.7615 3.68933 16.8309 3.86882 16.8309C4.04831 16.8309 4.2278 16.7615 4.36242 16.6269L13.7776 7.21175C14.0509 6.93843 14.0509 6.49378 13.7776 6.22046C13.5083 5.94307 13.0637 5.94307 12.7904 6.21638Z" fill="#3C3C3B"></path>
                                    <path d="M17.5885 7.82775C17.768 7.82775 17.9474 7.7584 18.0821 7.62378L19.1101 6.59578C20.2972 5.40869 20.2972 3.47915 19.1101 2.29614L17.7068 0.89284C17.1316 0.31765 16.3687 0.00354004 15.5569 0.00354004C14.7451 0.00354004 13.9823 0.32173 13.4071 0.89284L12.3791 1.92084C12.1058 2.19415 12.1058 2.6388 12.3791 2.91212L17.0949 7.62786C17.2295 7.7584 17.409 7.82775 17.5885 7.82775ZM14.3984 1.87596C14.7084 1.56593 15.1204 1.3946 15.561 1.3946C15.9975 1.3946 16.4136 1.56593 16.7236 1.87596L18.1269 3.27926C18.7674 3.91972 18.7674 4.95996 18.1269 5.60042L17.5885 6.13889L13.8599 2.41036L14.3984 1.87596Z" fill="#3C3C3B"></path>
                                    <path d="M6.6428 19.0582L16.576 9.125C16.8494 8.85168 16.8494 8.40703 16.576 8.13372C16.3027 7.8604 15.8581 7.8604 15.5848 8.13372L5.82285 17.9038L1.51505 18.483L2.09432 14.1752L11.4197 4.84984C11.693 4.57652 11.693 4.13187 11.4197 3.85855C11.1464 3.58524 10.7018 3.58524 10.4284 3.85855L0.93986 13.3553C0.829718 13.4654 0.760369 13.6041 0.739972 13.7551L0.00568762 19.2051C-0.0228679 19.4213 0.0505605 19.6375 0.205576 19.7925C0.336116 19.9231 0.515607 19.9965 0.699178 19.9965C0.731813 19.9965 0.760369 19.9924 0.793003 19.9883L6.24302 19.254C6.39396 19.2377 6.53674 19.1684 6.6428 19.0582Z" fill="#3C3C3B"></path>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-dark button-admin-3 delete_user_button" id="delete_user-{{ i.pk }}" onclick="delete_user({{ i.pk }})">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 4.98332C14.725 4.70832 11.9333 4.56665 9.15 4.56665C7.5 4.56665 5.85 4.64998 4.2 4.81665L2.5 4.98332" stroke="#3C3C3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.08331 4.14169L7.26665 3.05002C7.39998 2.25835 7.49998 1.66669 8.90831 1.66669H11.0916C12.5 1.66669 12.6083 2.29169 12.7333 3.05835L12.9166 4.14169" stroke="#3C3C3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.7087 7.61664L15.167 16.0083C15.0753 17.3166 15.0003 18.3333 12.6753 18.3333H7.32533C5.00033 18.3333 4.92533 17.3166 4.83366 16.0083L4.29199 7.61664" stroke="#3C3C3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.6084 13.75H11.3834" stroke="#3C3C3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.91669 10.4167H12.0834" stroke="#3C3C3B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <hr class="hr-user">
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
async function status_user(id) {
    var userid;
    var status;
    userid = $('#user_status' + id).attr("data-userid");
    status = $('#user_status' + id).attr("data-status");
    console.log(userid, status)
    $.ajax(
    {
        type:"GET",
        url: "/moderator/users/user_update_status",
        cache: false,
        async: true,
        data:{
                 user_id: userid,
                 status: status,
                 mob : 'pc',
        },
        success: function( data )
        {
            $( '#user-'+ id ).remove();
            $( '#user_status'+ id ).remove();
            $("#status" + id ).append(data);
        }
     })
}

function delete_user(num) {
    console.log(1)
    var catid;
    catid = num
    $.ajax(
    {
        type:"GET",
        url: "/moderator/users/delete_user",
        data:{
                 user_id: catid
        },
        success: function( data )
        {
            $( '#user-'+ catid ).remove();
        }
     })
}
</script>
</html>